/* typewriter cursor */
.blinking-cursor {
    animation: blink 0.75s infinite step-end;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .typewriter-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;  
  }
  
  .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    filter: blur(10px); 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  